
<!DOCTYPE html>
<html>
    <head>
            <link rel="icon" href="/img/logo.png">

        <title>Error</title>

        <link rel="stylesheet" href="/css/styles.css"> 

    </head>

    <body>
            <div class="main-content">
                {{>header}}
            <h1>{{errormessage}}</h1>
            </div>
       
        {{>footer}}

    </body>
</html> 