<!DOCTYPE html>
<html>
    <head>
        <title>About</title>
        <link rel="stylesheet" href="/css/styles.css">  
            <link rel="icon" href="/img/logo.png">
        

    </head>

    <body>
        <div class="main-content">
                {{>header}}
        
        <p>{{name}}</p>
        </div>
        <img class="portrait" src="img/Naruto Shippuden (124).jpg"> 
        {{>footer}}

    </body>
</html> 